body{
    background-color: dimgray;
}

#hesapM{
    margin: 0 auto;
    height: auto;
width: 400px;
background-color: oldlace;
border: 2px solid;
border-radius: 5px;
padding: 10px;
}

#gosterge{
    text-align: center;
    padding: 10px 0px 10px 0px;
}
#sonuc{
    border: 2px solid;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    text-align: right;
    word-wrap: break-word;
    font-size: 40px;
}

#butonlar{
   text-align: center;
}

button{
     width: 80px;
    height: 50px;
    margin: 4px;
    border-radius: 5px;
    background-color: bisque;
    outline: none;
}
